.img-resize{
    width: 150px;
    height: 150px;
    
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
}
.head {
  height: 75vh;
  display: flex;
  align-items: center;
  color: #fff;
}
.wrapper {
  max-width: 900px;
  margin: auto;
  text-align: center;
}
.box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}
.box video {
  min-width: 100%;
  min-height: 70%;
}
.header-overlay {
  height: 80vh;
  width: 80vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 45, 1);
  background: rgba(0, 0, 45, 1)
  z-index: 1;
  opacity: 0.85;
}
.content {
  z-index: 99;
  width: 400px;
  margin: auto;
}
.content h1{
  font-size: 50px;
}

.vid {
  border: 2px solid #00BFFF;
  color: #fff;
  font-size: 1.2rem;
  padding: 10px;
  text-decoration: none;
}

.contain h1 {
	margin: 50px 0 30px 0;	
}

.btn-sm {
	padding: 3px 5px;	
}

.thumbnail {
	position: relative;
	overflow: hidden;	
}

.caption {
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(67,196,236,0.5);
	width: 100%;
	height: 100%;
	padding: 2%;
	display: none;
	text-align: center;
	color: black!important;
	z-index: 2;
    text-align: inherit;
}

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #222222;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #6495ED}

.button:active {
  background-color: #1E90FF;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.topnav-right {
    float: right;
}
