<!-- Styles -->
<style>
#chartdiv {
  width: 100%;
  height: 500px;
}

</style>

<!-- Resources -->
<script src="core.js"></script>
<script src="charts.js"></script>
<script src="animated.js"></script>


<!-- HTML -->
<div id="chartdiv"></div>

<!-- Chart code -->
<script>
// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

// Create chart instance
var chart = am4core.create("chartdiv", am4charts.XYChart);

// Add data
chart.data = [{"year":"2015","value0":227132,"value1":164568,"value2":370,"value3":100,"value4":6,"value5":1},{"year":"2016","value0":226073,"value1":175699,"value2":370,"value3":100,"value4":6,"value5":1},{"year":"2017","value0":0,"value1":0,"value2":0,"value3":0,"value4":0,"value5":0}];

// Create category axis
var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
categoryAxis.dataFields.category = "year";
categoryAxis.renderer.opposite = true;

// Create value axis
var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
valueAxis.renderer.inversed = true;
valueAxis.title.text = "Place taken";
valueAxis.renderer.minLabelPosition = 0.01;

// Create series
var series1 = chart.series.push(new am4charts.LineSeries());
                        series1.dataFields.valueY = "value0";
                        series1.dataFields.categoryX = "year";
                        series1.name = "Jumlah Pengunjung Perpustakaan (Orang)";
                        series1.strokeWidth = 3;
                        series1.bullets.push(new am4charts.CircleBullet());
                        series1.tooltipText = "{name} in {categoryX}: {valueY}";
                        series1.legendSettings.valueText = "{valueY}";
                        series1.visible  = false;
                        var series2 = chart.series.push(new am4charts.LineSeries());
                        series2.dataFields.valueY = "value1";
                        series2.dataFields.categoryX = "year";
                        series2.name = "jumlah penyediaan bahan perpustakaan (eksemplar)";
                        series2.strokeWidth = 3;
                        series2.bullets.push(new am4charts.CircleBullet());
                        series2.tooltipText = "{name} in {categoryX}: {valueY}";
                        series2.legendSettings.valueText = "{valueY}";
                        series2.visible  = false;
                        var series3 = chart.series.push(new am4charts.LineSeries());
                        series3.dataFields.valueY = "value2";
                        series3.dataFields.categoryX = "year";
                        series3.name = "jumlah pembinaan masyarakat dan lembaga pendidikan binaan (perpustakaan)";
                        series3.strokeWidth = 3;
                        series3.bullets.push(new am4charts.CircleBullet());
                        series3.tooltipText = "{name} in {categoryX}: {valueY}";
                        series3.legendSettings.valueText = "{valueY}";
                        series3.visible  = false;
                        var series4 = chart.series.push(new am4charts.LineSeries());
                        series4.dataFields.valueY = "value3";
                        series4.dataFields.categoryX = "year";
                        series4.name = "jumlah pelayanan perpustakaan keliling (binaan)";
                        series4.strokeWidth = 3;
                        series4.bullets.push(new am4charts.CircleBullet());
                        series4.tooltipText = "{name} in {categoryX}: {valueY}";
                        series4.legendSettings.valueText = "{valueY}";
                        series4.visible  = false;
                        var series5 = chart.series.push(new am4charts.LineSeries());
                        series5.dataFields.valueY = "value4";
                        series5.dataFields.categoryX = "year";
                        series5.name = "jumlah sarana ruang baca perpustakaan (jenis)";
                        series5.strokeWidth = 3;
                        series5.bullets.push(new am4charts.CircleBullet());
                        series5.tooltipText = "{name} in {categoryX}: {valueY}";
                        series5.legendSettings.valueText = "{valueY}";
                        series5.visible  = false;
                        var series6 = chart.series.push(new am4charts.LineSeries());
                        series6.dataFields.valueY = "value5";
                        series6.dataFields.categoryX = "year";
                        series6.name = "jumlah pengendalian hama/fumigasi (kali)";
                        series6.strokeWidth = 3;
                        series6.bullets.push(new am4charts.CircleBullet());
                        series6.tooltipText = "{name} in {categoryX}: {valueY}";
                        series6.legendSettings.valueText = "{valueY}";
                        series6.visible  = false;


// Add chart cursor
chart.cursor = new am4charts.XYCursor();
chart.cursor.behavior = "zoomY";

// Add legend
chart.legend = new am4charts.Legend();
</script>

