<!-- Styles -->
<style>
#chartdiv {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}						
</style>

<!-- Resources -->
<script src="amcharts.js"></script>
<script src="serial.js"></script>
<script src="export.min.js"></script>
<link rel="stylesheet" href="export.css" type="text/css" media="all" />
<script src="light.js"></script>

<!-- Chart code -->
<script>
var chart = AmCharts.makeChart("chartdiv", {
	"type": "serial",
     "theme": "light",
	"categoryField": "year",
	"rotate": true,
	"startDuration": 1,
	"categoryAxis": {
		"gridPosition": "start",
		"position": "left"
	},
	"trendLines": [],
	"graphs": [
		{
			"balloonText": "var_1:[[value]]",
			"fillAlphas": 0.8,
			"id": "AmGraph-1",
			"lineAlpha": 0.2,
			"title": "var_1",
			"type": "column",
			"valueField": "var_1"
		},
		{
			"balloonText": "var_2:[[value]]",
			"fillAlphas": 0.8,
			"id": "AmGraph-2",
			"lineAlpha": 0.2,
			"title": "var_2",
			"type": "column",
			"valueField": "var_2"
		},
		{
			"balloonText": "var_3:[[value]]",
			"fillAlphas": 0.8,
			"id": "AmGraph-2",
			"lineAlpha": 0.2,
			"title": "var_3",
			"type": "column",
			"valueField": "var_3"
		}
	],
	"guides": [],
	"valueAxes": [
		{
			"id": "ValueAxis-1",
			"position": "top",
			"axisAlpha": 0
		}
	],
	"allLabels": [],
	"balloon": {},
	"titles": [],
	"dataProvider": [
		{
			"year": 2005,
			"var_1": 23.5,
			"var_2": 18.1,
			"var_3": 15.1
		},
		{
			"year": 2006,
			"var_1": 26.2,
			"var_2": 22.8,
			"var_3": 15.1
		},
		{
			"year": 2007,
			"var_1": 30.1,
			"var_2": 23.9,
			"var_3": 15.1
		},
		{
			"year": 2008,
			"var_1": 29.5,
			"var_2": 25.1,
			"var_3": 15.1
		},
		{
			"year": 2009,
			"var_1": 24.6,
			"var_2": 25,
			"var_3": 15.1
		}
	],
    "export": {
    	"enabled": true
     }

});
</script>

<!-- HTML -->
<div id="chartdiv"></div>